.navbar{
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  padding: 5px 10px;
  align-items: center;
  color: black;
}
.logo
{
  font-size: 24px;
  font-weight: bold;
}
.nav-links{
  list-style-type: none;
  display: flex;
  gap: 20px;
}